<h1>User_profile </h1>

<% if(user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" method="post">
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
        <input type="text" name="email" id="" placeholder="Your Email" value="<%= profile.user.email %>" required>
        <input type="submit" name="" value="submit">
    </form>
<% }else{ %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>  
        
        
<% } %>